:root {
--header-text-color: #150101;
--main-title-color: #000000;
--main-text-color: rgba(21, 1, 1, 1, 0.6);
--second-title-color:  #000000;
--main-btn-color: #FAFAFA;
--second-text-color: rgba(0, 0, 0, 1, 0.6);
--accent-color: #D23166;
--hero-text-color: rgba(15, 1, 1, 1, 0.6);
--footer-text-color: rgba(255, 255, 255, 1, 0.7);
}

// font-family: 'Fredoka One', cursive;
// font-family: 'Hind Madurai', sans-serif;
// font-family: 'Roboto', sans-serif;
