<section class="section-products">
  <div class="container">
    <h2 class="section-products__title">Our Product</h2>
    <ul class="filter">
      <li class="filter__item">
        <button class="filter__button" type="button">ICE CREAM</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">CAYENNE CHOCOLATE</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">CAKE BATTER</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">CANDY CANE</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">PLATTERS</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">DESSERT</button>
      </li>
    </ul>
    <ul class="products">
      <li class="products__item">
        <img src="" alt="" class="products__img">
        <div class="products__thumb">
          <h3 class="products__title">Brown bread</h3>
          <p class="products__text">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in
            the healthy fast food scene.Bon Au
            Pain is a pioneer in the healthy fast food scene.</p>
          <p class="products__value">
            $19.55
            <span class="products__value-old">$22.55</span>
          </p>
          <button class="button" type="button">Buy Now</button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__thumb">
          <h3 class="products__title">Cayenne chocolate</h3>
          <p class="products__text">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in
            the healthy fast food scene.Bon Au
            Pain is a pioneer in the healthy fast food scene.</p>
          <p class="products__value">
            $19.55
            <span class="products__value-old">$22.55</span>
          </p>
          <button class="button" type="button">Sweet corn</button>
        </div>
        <img src="" alt="" class="products__img">
      </li>
      <li class="products__item">
        <img src="" alt="" class="products__img">
        <div class="products__thumb">
          <h3 class="products__title">Sweet corn</h3>
          <p class="products__text">Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in
            the healthy fast food scene.Bon Au
            Pain is a pioneer in the healthy fast food scene.</p>
          <p class="products__value">
            $19.55
            <span class="products__value-old">$22.55</span>
          </p>
          <button class="button" type="button">Buy Now</button>
        </div>
      </li>
    </ul>
  </div>
</section>